*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}


/*---- INICIO HEADER MENU----*/
header {
    background: black;
    box-sizing: border-box;
    height: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.branding-logo .logo {
    height: 60px;
    margin-left: 40px;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu li {
    list-style: none;
}

.menu li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 1rem;
}

.has-dropdown {
    position: relative;
}

.submenu {
    position: absolute;
    left: 0;
    background-color: rgba(33, 33, 33, 1);
    white-space: nowrap;

    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
}

.submenu>li>a {
    padding: 0.8em 1.5em;
}

.submenu .submenu {
    left: 100%;
    top: 0;
}

.menu>li:hover>a,
.submenu>li:hover>a {
    background-color: orangered;
    color: white;
}

.menu>li:hover>a {
    background-color: orangered;
}

.arrow {
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    vertical-align: middle;
    border-left: 0.15em solid currentColor;
    border-bottom: 0.15em solid currentColor;
    transform: rotate(-45deg);
    margin-top: -0.25em;
}

.submenu .arrow {
    transform: rotate(-135deg);
}

.menu>li:hover>a+.submenu,
.submenu>li:hover>a+.submenu {
    opacity: 1;
    transform: scaleY(1);
}

/*---- FIN DEL HEADER MENU----*/


/*---- INICIO DEL MAIN ----*/
/*---- BUSCADOR ----*/
.buscadorfondo {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 120px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 102, 0);
}

.buscadortitulo {
    margin-top: 6rem;
    font-size: 25px;
    text-align: center;
    color: #f3f3f3;
}

.wrapper {
    margin-top: 1rem;
    color: white;
    text-align: center;
}

.wrapper h2 {
    font-size: 60px;
}

.wrapper p {
    font-size: 30px;
}

.movement:before {
    content: '';
    animation: animate infinite 6s;
    color: rgb(42, 146, 42);
}

@keyframes animate {
    0% {
        content: ' QUERES'
    }

    50% {
        content: ' BUSCAS'
    }

    100% {
        content: ' SOÑAS'
    }

}

.fondopropiedades {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 55%;
    align-content: center;
    padding: 0px 20px 0px 20px;
}

.formulario {
    height: 60px;
    padding: 10px;
}

.fondopropiedades form {
    background-color: lightgray;
    height: 60px;
    padding: 10px;
}

.fondopropiedades div {
    background-color: lightgray;
}

input[type=text],
select {
    border: solid lightgrey;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    display: inline-block;

}

input[type=search],
select {
    border: solid lightgrey;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    display: inline-block;
}

.button {
    background-color: rgb(255, 84, 5);
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 300;
}

.button:hover {
    background-color: rgb(182, 62, 7);
    cursor: pointer;
}

.buttonindex {
    background-color: lightgrey;
    height: 60px;
}

/*---- FIN DEL BUSCADOR ----*/

/*---- INICIO DESTACADAS -----*/
.carousel {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.slides {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slides::-webkit-scrollbar {
    display: none;
}

.slides img {
    width: 640px;
    height: 320px;
}

.slides-item {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    font-size: 100px;
    justify-content: center;
    margin: 0 1rem;
    position: relative;
    scroll-snap-align: start;
    transform: scale(1);
    transform-origin: center center;
    transition: transform .5s;
    width: 100%;
}

.carousel__nav {
    padding: 1.25rem .5rem;
}

.slider-nav {
    align-items: center;
    background-color: lightgrey;
    border-radius: 50%;
    color: #000;
    display: inline-flex;
    height: 1.5rem;
    justify-content: center;
    padding: .5rem;
    position: relative;
    text-decoration: none;
    width: 1.5rem;
}

.slider-nav:hover,
.slider-nav:active {
    background-color: #000;
    color: #fff;
}


.carousel__skip-link {
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

.carousel__skip-link:focus {
    align-items: center;
    background-color: #000;
    color: #fff;
    display: flex;
    font-size: 30px;
    height: 680px;
    justify-content: center;
    opacity: .8;
    text-decoration: none;
    width: 100%;
    z-index: 1;
}


.propdestacadas {
    display: flex;
    flex-direction: column;
}

.destacadas {
    margin: 10px;
    padding: 10px;
    font-style: italic;
    font-size: 40px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#slider {
    font-family: sans-serif;
    margin: auto;
    max-width: 800px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}


.flip-card {
    background-color: transparent;
    width: 640px;
    height: 320px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.titulosdest {
    position: absolute;
    margin-left: 60%;
    margin-top: 10px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid white;
    background-color: rgb(255, 84, 5);
    color: white;
    opacity: 0.9;
    font-size: 15px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;

}

.flip-card-front img {
    width: 640px;
    height: 320px;
}

.flip-card-back {
    padding: 40px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgrey;
    color: black;
    transform: rotateY(180deg);
}

.botondest {
    margin-top: 40px;
    background-color: rgb(255, 84, 5);
    border: rgb(255, 84, 5);
    color: #f3f3f3;
    padding: 10px;
    border-color: none;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
}

.botondest:hover {
    opacity: 0.7;
}

/*---- FIN DESTACADAS -----*/

/*---- POR QUE CONTACTARNOS ----*/
.porquecontactarnos {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50% 50%;
    background-image: url(../img/Casa-nueva-casa-antigua.jpg);
    background-size: cover;
    height: 400px;
}

.porqueinfo {
    padding: 30px;
    background-color: rgb(255, 84, 5);
    opacity: 0.8;
    color: white;
    font-family: verdana;
    text-align: center;
}

.porqueinfo p {
    margin-top: 10px;
}

.porqueinfo i {
    margin-top: 15px;
}

.porqueinfotexto {
    font-family: Verdana;
    text-decoration: underline;
}

/*---- FIN POR QUE CONTACTARNOS ----*/

/*---- CARTEL DE CONTACTO ----*/
#cartelcontacto {
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: 1fr;
    grid-template-columns: 100%;
    gap: 0px 12px;
    background-color: rgb(255, 102, 0);
    padding: 30px;
    list-style-type: none;
}

.carteldecontacto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 0px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.carteldecontacto li {
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin: 3px;
}

.cartel1,
.carteldecontacto a {
    color: #f3f3f3;
    text-decoration: none;
}


/*---- FIN CARTEL DE CONTACTO ----*/

/*---- PIE DE PAGINA ----*/
#piedepagina {
    background-color: rgb(33, 33, 33);
    display: grid;
    grid-auto-flow: column;
    padding: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: white;
    gap: 0px 20px;
    list-style-type: none;
}

.piecolum1 {
    padding: 20px;
    text-align: center;
}

.textopie {
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.textopie a {
    text-decoration: none;
    color: white;
}

.titulomenupie {
    padding: 20px;
    text-align: center;
}

.titulomenupie h4 {
    font-size: 20px;
}

.textomenupie {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.newsletter,
.redespie {
    padding: 20px;
    text-align: center;
}

.newsletter h4,
.redespie h4 {
    font-size: 20px;
}

input[type=text],
input[type=submit] {
    width: 80%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: rgb(255, 84, 5);
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}

.redespie i {
    margin: 20px 0;
    cursor: pointer;
    color: white;
}

/*---- FIN PIE DE PAGINA ----*/
/*---- FIN DEL MAIN ----*/

/*---- FOOTER ----*/
.footer {
    background-color: black;
    padding: 30px;
    font-family: Verdana;
    font-style: italic;
    color: rgb(255, 254, 254);
    font-size: 12px;
    list-style-type: none;
}

.linkfooter {
    text-decoration: none;
    color: rgb(255, 254, 254);
}

/*---- FIN DE FOOTER ----*/

/*----PAGINA ADMINISTRACION -----*/
.fondoadm {
    background-image: url(../img/admin.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-auto-flow: column dense;
    grid-auto-rows: 1fr;
    grid-template-columns: 100%;
    gap: 20px 20px;
}

.porqueadmin {
    padding: 30px;
    margin-right: 50%;
    margin-top: 5rem;
    background-color: rgb(255, 84, 5);
    opacity: 0.8;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "tituloadmin tituloadmin"
        "tituloadmin tituloadmin"
        "cuadro1 cuadro2"
        "cuadro3 cuadro4";
    grid-area: 1 / 1 / 2 / 2;
}

.tituloadmin {
    grid-area: tituloadmin;
    text-align: center;
    font-style: italic;
}

.tituloadmin p {
    font-size: medium;
    text-align: justify;
    margin-top: 15px;
}

.cuadro1 {
    grid-area: cuadro1;
    padding: 20px;
    hyphens: auto;
    font-size: medium;
}

.cuadro2 {
    grid-area: cuadro2;
    padding: 20px;
    hyphens: auto;
    font-size: medium;
}

.cuadro3 {
    grid-area: cuadro3;
    padding: 20px;
    hyphens: auto;
    font-size: medium;
}

.cuadro4 {
    grid-area: cuadro4;
    padding: 20px;
    hyphens: auto;
    font-size: medium;
}

.tituloformcontacto {
    padding: 20px;
    font-family: Verdana;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    background-color: rgb(255, 102, 0);
    color: #f3f3f3;
}

/*----FIN PAGINA ADMINISTRACION -----*/




/*----PAGINA ALQUILER Y VENTA -----*/
.mainalquiler {
    display: grid;
    background-color: rgb(255, 102, 0);
    grid-auto-flow: column;
    grid-template-columns: 100%;
    gap: 0px 0px;
    height: 430px;
    grid-template-areas:
        "titulo"
        "seccion-buscador"
        "seccion-buscador";
}

.titulo {
    margin-top: 5rem;
    padding: 20px;
    color: white;
    text-align: center;
    grid-area: titulo;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.seccion-buscador {
    background-color: rgb(255, 102, 0);
    border: 5px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 0px;
    grid-template-areas:
        "subtitle subtitle subtitle"
        "wrapper-propiedades wrapper-propiedades wrapper-propiedades"
        "buscador buscador buscador";
}

.subtitle {
    grid-area: subtitle;
    padding: 10px;
    font-style: oblique;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f3f3f3;
}

.wrapper-propiedades {
    grid-area: wrapper-propiedades;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 25px;
}

.buscador {
    padding: 20px;
    grid-area: buscador;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
}

.buscador form {
    background-color: lightgrey;
    height: 60px;
    padding: 10px;
}

.buscador .formularioalquiler {
    background-color: lightgrey;
    height: 60px;
    padding: 10px;
}

.buscador input[type=text],
select {
    border: solid lightgrey;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    display: inline-block;
}

.buscador input[type=search],
select {
    border: solid lightgrey;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    display: inline-block;
}


.buscador .buttonalquiler {
    background-color: rgb(255, 84, 5);
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 300;
}

.buscador .buttonalquiler:hover {
    background-color: rgb(182, 62, 7);
    cursor: pointer;
}

.buttonalq {
    background-color: lightgrey;
    height: 60px;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.df-main {
    border: 1px;
    grid-template-columns: 1fr 1fr;
    width: auto;
    margin: auto;
    text-align: left;
}

.card-index {
    margin: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}

.border-card {
    background-color: lightgrey;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-family: Verdana;
    text-align: center;
    color: black;
}

.border-card h4 {
    margin-top: 5%;
    height: 40px;
}

.bg-card {
    background-color: lightgrey;
    color: black;
    font-family: Verdana;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 1px solid lightgrey;
    width: 320px;
}

.w-img {
    width: 320px;
}


.botonprop {
    background-color: rgb(255, 84, 5);
    font-family: Verdana;
    color: #f3f3f3;
    padding: 10px 15px;
    margin: 10px;
    border-color: transparent;
    border-radius: 10px;
    font-weight: 500;
    font-size: 15px;
    font-style: normal;
    text-decoration: none;
}

.botonprop:hover {
    opacity: 0.7;
}

/*----FIN PAGINA ALQUILER Y VENTA -----*/
/*----PAGINA QUIENES SOMOS -----*/
.quienessomosfondo {
    padding: 20px;
    font-style: italic;
    background-color: rgb(255, 102, 0);
    font-family: Verdana;
    color: #f3f3f3;
    height: 10rem;
}

.quienessomos {
    margin-top: 5rem;
    font-style: oblique;
    font-size: 25px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f3f3f3;
}

.textosomos {
    padding: 30px;
    font-family: Verdana;
    color: black;
    text-align: justify;
}

.textosomos h2 {
    margin-top: 15px;
}

.textosomos li {
    list-style: square;
}

/*----FIN PAGINA QUIENES SOMOS -----*/

/*----PAGINA CONTACTO -----*/
.grid-container {
    padding: 20px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50% 50%;
    gap: 0px 20px;
}

.grid-container>div {
    padding: 20px;
}

.tipoform {
    font-size: 20px;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tipoform input {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.formcontacto textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border-color: lightgray;
    margin-bottom: 20px;
    border-radius: 3px;
    resize: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*----FIN PAGINA CONTACTO -----*/

/*---- PAGINA POLITICAS -----*/
.polprivacidad {
    padding: 20px;
    font-style: italic;
    background-color: rgb(255, 102, 0);
    font-family: Verdana;
    color: #f3f3f3;
    height: 180px;
}

.polprivacidad h1 {
    margin-top: 90px;
    font-style: oblique;
    font-size: 25px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f3f3f3;
}

.politicas {
    padding: 1rem;
    font-family: Verdana;
    color: black;
    text-align: justify;
}

.politicas h2 {
    margin-top: 10px;
    color: black;
    text-align: left;
    font-size: 15px;
}

/*----FIN PAGINA POLITICAS -----*/
/*---MENU RETORNO---*/
.menuretorno {
    padding: 0.7rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-areas:
        "index index2 index3 index4 page";
    font-family: sans-serif;
    font-weight: 400;
    justify-content: right;
    font-size: 15px;
    margin-right: 20px;
}

.index {
    grid-area: index;
    text-align: right;
}

.index a,
.index2 a,
.index3 a,
.index4 a {
    text-decoration: none;
    color: black;
}

.page {
    grid-area: page;
    color: gray;
}

.index:hover a,
.index2:hover a,
.index3:hover a,
.index4:hover a {
    border-radius: 5px;
    color: orangered;
    transition: all 0.5s ease;
}

/*---FIN MENU RETORNO---*/
/*---BOTON IR AL TOP---*/

.back-to-top {
    position: fixed;
    display: none;
    background: rgb(255, 102, 0);
    border: 2px solid white;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    right: 20px;
    bottom: 60px;
    transition: all 0.5s;
}

.back-to-top i {
    padding-top: 12px;
    color: #fff;
}

/*---FIN BOTON IR AL TOP---*/
/*---BOTON WHATSAPP---*/
.whatsapp {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 5px;
    right: 18px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 10px;
}

/*---FIN BOTON WHATSAPP---*/
/*---- INICIO PAGINA FICHAS----*/
.tarjetapropiedad {
    padding: 20px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "columna1prop contactprop";
    width: 100%;
    height: 100%;
}

.margenbien {
    padding-top: 5rem;
}

.columna1prop {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid lightgray;
    grid-template-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "titulocasa titulocasa titulocasa"
        "fyselect fyselect fyselect"
        "fotos fotos fotos"
        "caractgrales caractgrales caractgrales"
        "descripcion descripcion descripcion"
        "ambientes ambientes ambientes"
        "comodidades comodidades comodidades"
        "resumeningreso resumeningreso resumeningreso"
        "servicios servicios servicios"
    ;
    grid-area: columna1prop;
}

.titulocasa {
    padding: 20px;
    grid-area: titulocasa;
    border-bottom: 2px solid rgb(224, 224, 224);
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.titulocasa1 {
    text-align: left;
}

.titulocasa1 p {
    font-size: 12px;
    margin-top: 5px;
}

.titulocasa2 {
    align-self: center;
    text-align: right;
}


.carouselficha {
    overflow: hidden;
}

.slidesficha {
    width: auto;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slidesficha::-webkit-scrollbar {
    display: none;
}

.slidesficha img {
    width: 640px;
    height: 520px;
}

.slides-item-ficha {
    margin-top: 20px;
    display: flex;
    flex-shrink: 0;
    font-size: 100px;
    position: relative;
    scroll-snap-align: start;
    transform: scale(1);
    transform-origin: center center;
    transition: transform .5s;
    width: 100%;
    justify-content: center;
    border-bottom: 2px solid lightgray;
}

.carousel__nav-ficha {
    padding: 1.5rem;
    text-align: center;
}

.slider-nav-ficha {
    padding: 0.5rem;
    color: black;
    position: relative;
    text-decoration: none;
    border: 2px solid orangered;
    width: 7rem;
}

.slider-nav-ficha:focus {
    background-color: orangered;
    color: white;
}


.flip-card-front-ficha img {
    width: 640px;
    height: 320px;
}

.fotos {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "resumen1 resumen1 resumen2 resumen2"
        "resumen1 resumen1 resumen2 resumen2";
    grid-area: fotos;
}

.resumen1 {
    padding: 20px;
    grid-area: resumen1;
    border-bottom: 2px solid rgb(224, 224, 224);
    border: 2px solid lightgray;

}

.resumen2 {
    padding: 20px;
    grid-area: resumen2;
    border-bottom: 2px solid rgb(224, 224, 224);
    border: 2px solid lightgray;

}

.resumen1 h4,
.resumen2 h4 {
    margin-top: 5px;
    margin-bottom: 10px;
    color: rgb(255, 84, 5);
    font-weight: 600;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.resumen1 p,
.resumen2 p {
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(255, 84, 5);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.caractgrales {
    display: grid;
    padding: 20px;
    border-bottom: 2px solid lightgray;
}

.caractgrales h3 {
    width: 100%;
}

.caractgrales p {
    color: rgb(255, 102, 0);
    text-align: left;
}


.caractgrales1 li {
    display: grid;
    grid-template-columns: 6% 30% 40%;
}

.caractgrales2 li {
    display: grid;
    grid-template-columns: 6% 50% 40%;
}

.caractgrales3 li {
    display: grid;
    grid-template-columns: 6% 50%;
}

.descripcion {
    grid-area: descripcion;
    border-bottom: 2px solid rgb(224, 224, 224);
    padding: 20px;
}

.descripcion p {
    margin-top: 10px;
    text-align: justify;
}

.columna1prop ul {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.columna1prop li i {
    color: rgb(255, 102, 0);
    border-radius: 100px;
}

.contactprop {
    grid-area: contactprop;
    border: 2px solid lightgray;
    grid-auto-flow: row;
    grid-template-rows: 0.4fr;
    height: 40rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contactoproptitulo {
    background-color: rgb(255, 102, 0);
    color: white;
    padding: 20px;
    text-align: center;
    font-style: italic;
}

.contactoproptitulo h3 {
    margin-top: 20px;
}

.contactoproptitulo i {
    color: white;
    font-size: 40px;
}

.form-pagina {
    padding: 20px;
}

.form-pagina h3 {
    padding: 20px;
    text-align: center;
    font-style: italic;
}

.cartel-noprop {
    padding: 40px;
    font-size: 25px;
    text-align: center;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.redes {
    grid-area: redes;
    text-align: center;
    display: grid;
    grid-template-rows: 0.3fr 1fr;
    grid-template-columns: 1fr;
    padding: 20px;
    margin-top: 2rem;
}

.redes i {
    color: black;
    font-size: 40px;
}

/*---- FIN PAGINA FICHAS----*/
/*----FIN DISEÑOS DESKTOP -----*/




/*----------INICIO RESPONSIVE MOBILE HASTA 480PX-----------*/

@media screen and (max-width: 480px) {

    /*----------responsive menu y hamburguesa MOBILE-----------*/
    .menu {
        flex-flow: column;
        position: absolute;
        background: black;
        top: 4.55em;
        left: 0;
        right: 0;
        height: auto;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top center;
        transition: 0.5s transform ease-in-out;
        overflow-y: hidden;
        z-index: 9999;

    }

    .menu>li>a {
        padding: 20px;
        font-size: 1rem;
        color: white;
    }

    .submenu>li>a {
        font-size: 1rem;
    }

    .submenu {
        left: 15%;
        width: 75%;
        top: 0;
        background-color: rgba(33, 33, 33, 1);
        transition: 0.3s transform ease-in-out;

    }

    .submenu .submenu {
        left: 15%;
        top: 0;
        width: 75%;
        background-color: grey;
    }


    .menu>li:hover>a+.submenu,
    .submenu>li:hover>a+.submenu {
        position: relative;
    }

    .submenu .arrow {
        transform: rotate(-45deg);
    }


    .hamburger {
        width: 2em;
        height: 0.25em;
        display: block;
        background: white;
        margin-bottom: 10px;
        margin-right: 20px;
        position: relative;
        cursor: pointer;
        transition: 0.2s transform ease-in-out;
    }

    .hamburger::after,
    .hamburger::before {
        content: "";
        position: absolute;
        left: 0;
        background: inherit;
        width: inherit;
        height: inherit;
        transition: 0.2s transform ease-in-out;
    }

    .hamburger::after {
        top: 0.50em;
    }

    .hamburger::before {
        bottom: 0.50em;
    }

    input[type="checkbox"]:checked+.menu {
        position: absolute;
        opacity: 1;
        transform: scaleY(1);
    }


    /*---- PAGINA INDEX RESPONSIVE MOBILE----*/
    /*---- INICIO RESPONSIVE MOBILE BUSCADOR----*/
    .buscadorfondo {
        padding: 20px;
        font-style: italic;
        background-color: rgb(255, 102, 0);
        grid-template-rows: 100px 80px 250px;
        gap: 5px 0px;
        font-family: Verdana;
        color: #f3f3f3;
        height: 500px;
        width: 100%;
    }

    .buscadortitulo {
        margin-top: 70px;
    }

    .buscadortitulo h1 {
        text-align: center;
        font-style: oblique;
        font-family: Verdana;
        color: #f3f3f3;
        font-size: 18px;
    }

    .wrapper {
        margin: auto;
        align-items: center;
        padding: 0px;
    }

    .wrapper h2 {
        font-size: 22px;
    }

    .wrapper p {
        font-size: 18px;
    }

    .fondopropiedades {
        margin-top: auto;
        background-color: lightgray;
        border-radius: 10px;
        display: block;
    }

    input[type=text],
    select {
        border-radius: 4px;
    }

    input[type=search],
    select {
        border: solid lightgray;
        border-radius: 4px;
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        display: inline-block;
    }

    .buttonindex {
        background-color: rgb(255, 84, 5);
        color: white;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: 300;
        width: 100%;
        text-align: center;
    }

    .button:hover {
        background-color: rgb(182, 62, 7);
        cursor: pointer;
    }

    /*---- FIN DEL RESPONSIVE MOBILE BUSCADOR ----*/

    /*----INICIO PROPIEDADES DESTACADAS RESPONSIVE MOBILE ----*/
    .destacadas {
        padding: 30px;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
    }

    #slider {
        height: 500px;
    }

    .slider {
        border: 1px;
        margin-top: -60% !important;
        text-align: left;
        margin-left: 100%;
        z-index: 0;
    }

    #slide1 {
        font-family: Verdana;
        text-align: center;
        color: #f3f3f3;
        margin-left: 100%;
        margin-top: 10%;
    }

    #slide2 {
        font-family: Verdana;
        text-align: center;
        color: #f3f3f3;
        margin-left: 100%;
        margin-top: 10%;
    }

    #slide3 {
        font-family: Verdana;
        text-align: center;
        color: #f3f3f3;
        margin-left: 100%;
        margin-top: 10%;
    }

    .tipoprop1 {
        visibility: hidden;
    }

    #slider>ul.slider li {
        opacity: 0;
        transition: opacity .5s;
    }

    #slider>ul.slider .textotipoprop1 {
        color: white;
        position: relative;
        background-color: rgb(255, 84, 5);
        top: 127%;
        width: 320px;
        left: 0;
        opacity: 0.9;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-style: none;
    }

    #slider>ul.slider .w-img {
        width: 320px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    #slider>ul.slider li:first-child {
        opacity: 1;
    }

    #slider>ul.slider li:target {
        opacity: 1;
    }

    #slider>.menuslider {
        position: relative;
        color: #f3f3f3;
        margin-left: 100%;
        transition: all.7s;
        cursor: pointer;
        background: none;
        margin-top: 70%;
        z-index: 0;
    }

    #slider>.menuslider li {
        display: inline-block;
        position: relative;
        text-align: center;
    }

    #slider>.menuslider li a {
        display: inline-block;
        color: white;
        text-decoration: none;
        background-color: grey;
        width: 30px;
        height: 30px;
        font-size: 25px;
        border-radius: 100%;
    }


    /*------- FIN DESTACADAS RESPONSIVE MOBILE -----*/

    /*---- POR QUE CONTACTARNOS RESPONSIVE MOBILE  ----*/
    .porquecontactarnos {
        background-attachment: local;
        background-position-x: center;
        grid-template-columns: 0% 100%;
    }

    .porqueinfo {
        padding: 30px;
        margin-left: 0;
        background-color: rgb(255, 84, 5);
        opacity: 0.8;
        color: white;
        font-family: verdana;
    }

    .porqueinfo p {
        margin-top: 6px;
    }

    .porqueinfo i {
        margin-top: 8px;
    }

    /*---- FIN POR QUE CONTACTARNOS RESPONSIVE MOBILE ----*/

    /*---- CARTEL DE CONTACTO RESPONSIVE MOBILE ----*/
    #cartelcontacto {
        padding: 0;
        position: relative;
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: 100px 100px 100px;
        background-color: rgb(255, 102, 0);
        height: 450px;
    }

    .carteldecontacto {
        text-align: center;
        text-decoration: none;
        font-style: italic;
        padding: 30px;
        grid-template-columns: none;
    }

    #cartelcontacto li {
        margin: 10px;
    }

    #cartelcontacto i {
        margin-top: 10px;
    }

    .cartel1 {
        color: white;
        text-decoration: none;
    }

    /*---- FIN CARTEL DE CONTACTO RESPONSIVE MOBILE ----*/

    /*---- PIE DE PAGINA RESPONSIVE MOBILE ----*/
    #piedepagina {
        padding: 0;
        position: relative;
        display: inline;
        display: grid;
        grid-auto-flow: row;
        background-color: rgb(33, 33, 33);

    }

    .piedepagina {
        color: white;
        text-align: center;
        text-decoration: none;
        font-style: italic;
    }

    .logopie {
        padding: 20px 20px 10px 20px;
    }

    .textopie {
        font-size: 12px;
        color: white;
        text-decoration: none;
    }

    .textopie a {
        color: white;
        text-decoration: none;
    }

    .titulomenupie {
        font-size: 20px;
    }

    .textomenupie {
        font-size: 15px;
    }

    .newsletter {
        font-size: 20px;
    }

    .newsletter input[type=text],
    input[type=submit] {
        width: 70%;
        padding: 12px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    .newsletter input[type=submit] {
        background-color: rgb(255, 84, 5);
        color: white;
        border: none;
        text-transform: uppercase;
        font-weight: 300;
    }

    .newsletter input[type=submit]:hover {
        opacity: 0.8;
    }

    .redespie {
        font-size: 20px;
    }

    .redespie i {
        margin-top: 20px;
        margin: 20px 0;
    }

    /*---- FIN PIE DE PAGINA RESPONSIVE MOBILE ----*/
    /*---- FIN DEL MAIN RESPONSIVE MOBILE ----*/

    /*---- FOOTER RESPONSIVE MOBILE ----*/
    .footer {
        background-color: black;
        padding: 30px;
        font-family: Verdana;
        font-style: italic;
        color: rgb(255, 254, 254);
        font-size: 12px;
    }

    .linkfooter {
        text-decoration: none;
        color: rgb(255, 254, 254);
    }

    /*---- FIN DE FOOTER RESPONSIVE MOBILE ----*/

    /*----PAGINA QUIENES SOMOS RESPOSIVE MOBILE -----*/

    .quienessomosfondo {
        padding: 20px;
        font-style: italic;
        background-color: rgb(255, 102, 0);
        font-family: Verdana;
        color: #f3f3f3;
        height: 200px;
    }

    /*---- FIN PAGINA QUIENES SOMOS RESPOSIVE MOBILE -----*/

    /*----PAGINA ADMINISTRACION RESPONSIVE MOBILE -----*/
    .fondoadm {
        background-image: url(../img/admin.jpg);
        background-attachment: local;
        background-position-x: center;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        grid-auto-rows: 1fr;
        gap: 9px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "porqueadmin";
        width: 100%;
    }

    .porqueadmin {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "tituloadmin"
            "cuadro1"
            "cuadro2"
            "cuadro3"
            "cuadro4";
        grid-area: porqueadmin;
    }

    .tituloadmin {
        grid-area: tituloadmin;
        margin-top: 60px;
        text-align: center;
    }

    .cuadro1 {
        grid-area: cuadro1;
        padding: 0;
        margin-top: 20px;
        text-align: justify;
    }

    .cuadro2 {
        grid-area: cuadro2;
        padding: 0;
        margin-top: 20px;
        text-align: justify;
    }

    .cuadro3 {
        grid-area: cuadro3;
        padding: 0;
        margin-top: 20px;
        text-align: justify;
    }

    .cuadro4 {
        grid-area: cuadro4;
        padding: 0;
        margin-top: 20px;
        text-align: justify;
    }

    /*----FIN PAGINA ADMINISTRACION RESPONSIVE MOBILE -----*/

    /*----PAGINA ALQUILER Y VENTA RESPONSIVE MOBILE -----*/
    .mainalquiler {
        height: 600px;
    }

    .titulo {
        margin-top: 80px;
        font-size: 12px;
    }

    .subtitle {
        font-size: 12px;
    }

    .wrapper-propiedades {
        font-size: 15px;
    }

    .buscador {
        display: block;
    }

    .buscador .buttonalq {
        text-align: center;
    }

    /*----FIN PAGINA ALQUILER Y VENTA RESPONSIVE MOBILE -----*/

    /*----PAGINA CONTACTO RESPONSIVE MOBILE -----*/
    .grid-container {
        grid-auto-flow: column;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        column-gap: 10px;
        padding: 10px;
    }

    /*----FIN PAGINA CONTACTO RESPONSIVE MOBILE -----*/
    .polprivacidad h1 {
        font-size: 20px;
    }

    .politicas {
        hyphens: auto;
    }
}

/*----------FIN RESPONSIVE MOBILE HASTA 480PX-----------*/

/*----INICIO RESPONSIVE TABLET O IPAD 481 A 980----*/

@media screen and (min-width: 481px) and (max-width: 980px) {

    /*----------responsive menu y hamburguesa-----------*/
    .menu {
        flex-flow: column;
        position: absolute;
        background: black;
        top: 4.55em;
        left: 0;
        right: 0;
        height: auto;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top center;
        transition: 0.5s transform ease-in-out;
        overflow-y: hidden;
        z-index: 9999;

    }

    .menu>li>a {
        padding: 20px;
        font-size: 1rem;
        color: white;
    }

    .submenu>li>a {
        font-size: 1rem;
    }

    .submenu {
        left: 15%;
        width: 75%;
        top: 0;
        background-color: rgba(33, 33, 33, 1);
        transition: 0.3s transform ease-in-out;

    }

    .submenu .submenu {
        left: 15%;
        top: 0;
        width: 75%;
        background-color: grey;
    }


    .menu>li:hover>a+.submenu,
    .submenu>li:hover>a+.submenu {
        position: relative;
    }

    .submenu .arrow {
        transform: rotate(-45deg);
    }


    .hamburger {
        width: 2em;
        height: 0.25em;
        display: block;
        background: white;
        margin-bottom: 10px;
        margin-right: 20px;
        position: relative;
        cursor: pointer;
        transition: 0.2s transform ease-in-out;
    }

    .hamburger::after,
    .hamburger::before {
        content: "";
        position: absolute;
        left: 0;
        background: inherit;
        width: inherit;
        height: inherit;
        transition: 0.2s transform ease-in-out;
    }

    .hamburger::after {
        top: 0.50em;
    }

    .hamburger::before {
        bottom: 0.50em;
    }

    input[type="checkbox"]:checked+.menu {
        position: absolute;
        opacity: 1;
        transform: scaleY(1);
    }


    /*---- INICIO RESPONSIVE BUSCADOR----*/
    .buscadorfondo {
        padding: 20px;
        font-style: italic;
        background-color: rgb(255, 102, 0);
        grid-template-rows: 100px 120px 250px;
        gap: 5px 0px;
        font-family: Verdana;
        color: #f3f3f3;
        height: 520px;
        width: 100%;
    }

    .buscadortitulo {
        margin-top: 70px;
        text-align: center;
        font-size: 18px;
    }


    .wrapper {
        padding: 40px 0px 30px 0px;
    }

    .wrapper h2 {
        font-size: 32px;
    }

    .wrapper p {
        font-size: 25px;
    }

    .fondopropiedades {
        margin-top: auto;
        background-color: lightgray;
        border-radius: 10px;
        display: block !important;
    }

    input[type=text],
    select {
        border-radius: 4px;
    }

    input[type=search],
    select {
        border: solid lightgray;
        border-radius: 4px;
        box-sizing: border-box;
        width: 95%;
        padding: 10px;
        display: inline-block;
    }

    .button {
        background-color: rgb(255, 84, 5);
        color: white;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: 300;
        width: 95% !important;
        margin: 10px !important;
    }


    .button:hover {
        background-color: rgb(182, 62, 7);
        cursor: pointer;
    }

    /*---- FIN DEL RESPONSIVE BUSCADOR ----*/

    /*----INICIO PROPIEDADES DESTACADAS----*/
    .destacadas {
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 25px;

    }

    #slider {
        width: 100%;
        padding: 10px 30px 20px 30px;
        margin-top: -10%;
        height: 500px;
    }

    .slider {
        background-color: lightgray;
        border-radius: 10px;
        z-index: 0;
    }

    #slider>ul,
    li {
        list-style: none;
    }

    #slider>ul.slider {
        position: relative;
        width: 100%;
        background: none;
        margin-left: 100%;
    }

    #slider>ul.slider .tipoprop1 {
        color: white;
        position: absolute;
        background-color: rgb(255, 84, 5);
        padding: 10px;
        top: 10%;
        right: 10%;
        border-style: solid;
        opacity: 0.9;
    }

    #slider>ul.slider .textotipoprop1 {
        margin: auto;
        color: white;
        position: absolute;
        background-color: rgb(255, 84, 5);
        padding: 10px;
        top: 60%;
        left: 5%;
        opacity: 0.9;
        border-style: solid;
    }


    #slider>ul.slider li {
        position: absolute;
        opacity: 0;
        width: inherit;
        height: inherit;
        transition: opacity .5s;
    }

    #slider>ul.slider li .w-img {
        width: 100%;
        border-radius: 15px;
    }

    #slider>ul.slider li:first-child {
        opacity: 1;
    }

    #slider>ul.slider li:target {
        opacity: 1;
    }

    #slider>.menuslider {
        position: relative;
        color: aqua;
        transition: all.7s;
        cursor: pointer;
        background: none;
        margin-left: 100%;
        z-index: 0;
    }

    #slider>.menuslider li {
        display: inline-block;
        position: relative;
        text-align: center;
    }

    #slider>.menuslider li a {
        display: inline-block;
        color: white;
        text-decoration: none;
        background-color: grey;
        width: 30px;
        height: 30px;
        font-size: 25px;
        border-radius: 100%;
    }


    /*------- FIN DESTACADAS RESPONSIVE-----*/

    /*---- POR QUE CONTACTARNOS RESPONSIVE ----*/
    .porquecontactarnos {
        background-attachment: local;
        background-position-x: center;
    }

    .porqueinfo {
        padding: 30px;
        margin-left: 0%;
        background-color: rgb(255, 84, 5);
        opacity: 0.8;
        color: white;
        font-family: verdana;
    }

    .porqueinfo p {
        margin-top: 6px;
    }

    .porqueinfo i {
        margin-top: 8px;
    }

    /*---- FIN POR QUE CONTACTARNOS RESPONSIVE----*/

    /*---- CARTEL DE CONTACTO RESPONSIVE----*/
    #cartelcontacto {
        padding: 0;
        position: relative;
        display: inline;
        color: white;
        column-count: 3;
        column-rule: none;
    }

    .carteldecontacto {
        text-align: center;
        text-decoration: none;
        font-style: italic;
        background-color: rgb(255, 84, 5);
        padding: 30px;

    }

    #cartelcontacto li {
        margin: 10px;
    }

    #cartelcontacto i {
        margin-top: 10px;
    }

    .cartel1 {
        color: white;
        text-decoration: none;
    }

    /*---- FIN CARTEL DE CONTACTO RESPONSIVE----*/

    /*---- PIE DE PAGINA RESPONSIVE----*/
    #piedepagina {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px 0px;
        grid-template-areas:
            "piecolum1 titulomenupie"
            "newsletter redespie";
        background-color: rgb(33, 33, 33);
        color: white;
        text-align: center;
        text-decoration: none;
        font-style: italic;

    }

    .piecolum1 {
        grid-area: piecolum1;
    }

    .piecolum1 .textopie {
        font-size: 15px;
    }

    .titulomenupie {
        grid-area: titulomenupie;
    }

    .newsletter {
        grid-area: newsletter;
    }

    .redespie {
        grid-area: redespie;
    }


    /*-----pagina administracion ipad resposive----*/
    .porqueadmin {
        margin-right: 0;
    }

}