$color_1: #f3f3f3;
$color_2: white;
$color_3: rgb(42, 146, 42);
$color_4: #000;
$font-family_1: Verdana, Geneva, Tahoma, sans-serif;
$background-color_1: rgb(255, 102, 0);
$background-color_2: lightgray;
$background-color_3: rgb(255, 84, 5);
$background-color_4: rgb(182, 62, 7);
$background-color_5: lightgrey;

@keyframes animate {
	0% {
		content: ' QUERES';
	}
	50% {
		content: ' BUSCAS';
	}
	100% {
		content: ' SOÑAS';
	}
}
.buscadorfondo {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 1fr 120px;
	font-style: italic;
	font-family: $font-family_1;
	background-color: $background-color_1;
}
.buscadortitulo {
	margin-top: 6rem;
	font-size: 25px;
	text-align: center;
	color: $color_1;
	text-shadow: 1px 1px $color_4;
}
.wrapper {
	margin-top: 1rem;
	color: $color_2;
	text-align: center;
	h2 {
		font-size: 60px;
		text-shadow: 1px 1px $color_4;
	}
	p {
		font-size: 30px;
		text-shadow: 1px 1px $color_4;

	}
}
.movement {
	&:before {
		content: '';
		animation: animate infinite 6s;
		color: $color_3;
	}
}
.fondopropiedades {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: 55%;
	align-content: center;
	padding: 0px 20px 0px 20px;
	form {
		background-color: $background-color_2;
		height: 3.75rem;
		padding: 0.625rem;
	}
	div {
		background-color: $background-color_2;
	}
}
.formulario {
	height: 3.75rem;
	padding: 0.625rem;
}
input[type=text] {
	border: solid lightgrey;
	border-radius: 4px;
	box-sizing: border-box;
	width: 100%;
	height: 2.5rem;
	display: inline-block;
}
select {
	border: solid lightgrey;
	border-radius: 4px;
	box-sizing: border-box;
	width: 100%;
	height: 2.5rem;
	display: inline-block;
	border: solid lightgrey;
	border-radius: 4px;
	box-sizing: border-box;
	width: 100%;
	height: 2.5rem;
	display: inline-block;
}
input[type=search] {
	border: solid lightgrey;
	border-radius: 4px;
	box-sizing: border-box;
	width: 100%;
	height: 2.5rem;
	display: inline-block;
}
.button {
	background-color: $background-color_3;
	color: $color_2;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 300;
	&:hover {
		background-color: $background-color_4;
		cursor: pointer;
	}
}
.buttonindex {
	background-color: $background-color_5;
	height: 3.75rem;
}
