$font-family_1: Verdana, Geneva, Tahoma, sans-serif;
$border-color_1: lightgray;

.grid-container {
	padding: 1.25rem;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 50% 50%;
	gap: 0px 20px;
	>div {
		padding: 20px;
	}
}
.tipoform {
	font-size: 20px;
	text-align: left;
	font-family: $font-family_1;
	input {
		width: 100%;
		font-family: $font-family_1;
	}
}
.formcontacto {
	textarea {
		width: 100%;
		padding: 0.938rem 0.625rem;
		font-size: 15px;
		border-color: $border-color_1;
		margin-bottom: 1.25rem;
		border-radius: 3px;
		resize: none;
		font-family: $font-family_1;
	}
}
